{% extends "layout.html" %}
{% block content %}

<h2>{{ title }}</h2>
<hr />
<div id="users">
	{% if users %}
	<ul class="list-group">
		{% for user in users %}
		<li id="{{ user['name'] }}" class="list-group-item">
			{{ user['name'] }}
			<button type="button" class="close pull-right" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</li>
		{% endfor %}
	</ul>
	{% endif %}
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('.close').click(function() {
			var testelem = $(this).parent();
			DeleteUser(testelem);
		});
	});

	function DeleteUser(elem) {
		var username = $(elem).attr('id');
		if (confirm("Are you sure you want to delete '" + username + "'?")) {
			var jqxhr = $.ajax({ type: "DELETE", url: username })
				.done(function () {
					elem.remove(); 
				})
				.always(function () {
					alert(jqxhr.status + ": " + jqxhr.statusText);
				}
			);
		}
	}
</script>

{% endblock %}
